<!-- // 201935325-이호성 -->
<% if(codes.length>0) {%>
<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <td>대분류</td>
      <td>대분류명</td>
      <td>소분류</td>
      <td>소분류명</td>
      <td>시작일</td>
      <td>종료일</td>
      <% if (vu === 'u') { %>
      <td></td>
      <td></td>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < codes.length; i++) { %>
    <tr>
      <td><%= codes[i].main_id %></td>
      <td><%= codes[i].main_name %></td>
      <td><%= codes[i].sub_id %></td>
      <td><%= codes[i].sub_name %></td>
      <td><%= codes[i].start %></td>
      <td><%= codes[i].end %></td>

      <% if (vu === 'u') { %>
      <td>
        <a href="/code/update/<%= codes[i].main_id %>/<%= codes[i].sub_id %>"
          >수정</a
        >
      </td>
      <td>
        <a
          href="/code/delete/<%= codes[i].main_id %>/<%= codes[i].sub_id %>"
          onclick='if(confirm("정말로 삭제하시겠습니까?")==false){ return false }'
          >삭제</a
        >
      </td>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
<% }else{ %>
<table class="table table-bordered border-primary">
  <tr>
    <td>자료 없음</td>
  </tr>
</table>
<% } %>
